.movie-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-page .movie-card {
    margin: 1rem 0;
}

.movie-info::before {
    content: "";
    width: 80vw;
    height: 20vh;
    z-index: -1;
    background-color: #1c1d1f;
}

.movie-info {
    background-color: #1c1d1f;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    padding-bottom: 3rem;
    transform: translateY(-20vh);
}

.tagline {
    font-size: 3rem;
    margin: 2rem 0;
}

.info {
    width: 1000px;
    font-size: 1.5rem;
}

.movie-info,
.info,
.info h2 {
    margin-bottom: 1rem;
}

.info h2 {
    font-weight: bold;
}

.info span {
    background-color: #303030;
    margin: 0 .5rem 0 0;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}